@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page-background {
    height: 100vh; /* Adjust as needed (100vh sets the height to 100% of the viewport height) */
    width: 100%; /* Set width to 100% of the parent container or viewport */
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}


.parent-container {
    position: fixed;
    width: 100vw;
    height: 100vh; /* Cover the full window height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}

.outside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    box-Shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: calc(100% - 64px);
}
